<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>StackOverflow Searcher</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/w3.css}" />
</head>
<body class="w3-light-grey">
<div>
    <form th:action="@{/index}"
          th:object="${queryForm}" method="POST" class="w3-container" >
        <div class="w3-center w3-padding-24">
            <p class="w3-xlarge">Type your question in this form:</p>
        </div>
        <div class="w3-center"><input type="text" th:field="*{query}" style="width:400px" /></div>
        <div class="w3-bar w3-padding-large w3-margin-bottom w3-center"><input type="submit" value="Push here to search!" class="w3-btn w3-hover-green w3-round-large w3-pale-green w3-border"/></div>
    </form>
</div>

<div th:if="${not #lists.isEmpty(questions)}">
    <br/>
    <table class="w3-table w3-hoverable">
        <tr class="w3-blue-gray">
            <th class="w3-border">Date</th>
            <th class="w3-border">Question Title</th>
            <th class="w3-border">Author</th>
        </tr>
        <tr th:each="question : ${questions}" th:attr="class=${question.solved == true} ? 'w3-light-green' : 'w3-orange'">
            <td th:utext="${question.date}" class="w3-border">...</td>
            <td class="w3-border"><a th:href="@{${question.reference}}" th:utext="${question.title}">...</a></td>
            <td th:utext="${question.author}" class="w3-border">...</td>
        </tr>
    </table>
</div>

<div th:if="${errorEmptyQuery}" th:utext="${errorEmptyQuery}"
     class="w3-center w3-text-red">
    ...
</div>

<div th:if="${errorNoResult}" th:utext="${errorNoResult}"
     class="w3-center w3-text-red">
    ...
</div>
</body>
</html>